.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;       
}

.sectionForm{
    border: 1px solid;
    border-color: rgb(113, 187, 222);
    padding: 1rem;
    width: 50%;
}

h5{
    font-weight: bolder;
    color: rgb(0, 84, 187);
}

input{
    width: 100%;
}